{% extends 'base.html' %}
{% block content %}
<!-- banner section starts  -->
    <section class="body_banner fs-4" style="background-image: url('image/cover.jpg')">
        <div class="container grid" style="--bs-columns: 5; --bs-gap: 5rem;">
            <div class="row">
                <div class="col bg-white rounded mx-4 ">
                    <div class="iteam_wrapper  ">
                        <div class="title ">
                            <img src="https://corona.gov.bd/assets/new_home_assets/image/static/1.svg" alt=""
                                class="me-3">
                            <p>করোনার উপসর্গ ও আপনার করনীয়</p>
                        </div>
                        <div class="content">
                            <ul class="mt-4">
                                <li><a href="https://corona.gov.bd/corona-symptom"
                                        class="text-decoration-none text-dark">সন্দেহভাজন করোনা রোগীর ক্ষেত্রে</a>
                                </li>
                                <li><a href="https://corona.gov.bd/corona-mild-symptom"
                                        class="text-decoration-none text-dark">মৃদু উপসর্গের ক্ষেত্রে</a></li>
                                <li><a href="https://corona.gov.bd/corona-medium-symptom"
                                        class="text-decoration-none text-dark">মাঝারি উপসর্গের ক্ষেত্রে</a>
                                </li>
                                <li>
                                    <a href="https://corona.gov.bd/corona-intense-symptom"
                                        class="text-decoration-none text-dark">
                                        তীব্র উপসর্গের ক্ষেত্রে</a>
                                </li>
                                <li><a href="https://corona.gov.bd/corona-post-covid-symptom"
                                        class="text-decoration-none text-dark">পোস্ট কভিড উপসর্গের
                                        ক্ষেত্রে</a></li>
                                <li><a href="https://corona.gov.bd/corona-new-symptom"
                                        class="text-decoration-none text-dark">করোনার নতুন লক্ষণ সমূহ</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col bg-white rounded mx-4">
                    <div class="iteam_wrapper">
                        <div class="title">
                            <img src="https://corona.gov.bd/assets/new_home_assets/image/static/2.svg" alt=""
                                class="me-3">
                            <p> করোনা টেস্ট ও হাসপাতালে ভর্তি সংক্রান্ত তথ্য</p>
                        </div>
                        <div class="content">
                            <ul class="mt-4">
                                <li><a href="https://corona.gov.bd/corona-hospital"
                                        class="text-decoration-none text-dark">কোথায়
                                        টেস্ট করানো হয়?</a></li>




                                <li>
                                    <a href="https://corona.gov.bd/corona-out-service"
                                        class="text-decoration-none text-dark">
                                        ঢাকার ও ঢাকার বাইরে টেস্ট
                                        সার্ভিস</a>
                                </li>
                                <li><a href="https://corona.gov.bd/hospital-icu"
                                        class="text-decoration-none text-dark">ঢাকার ও
                                        ঢাকার বাইরে বেড, আইসিইউ
                                        সার্ভিস</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col bg-white rounded mx-4">
                    <div class="iteam_wrapper">
                        <div class="title">
                            <img src="https://corona.gov.bd/assets/new_home_assets/image/static/3.svg" alt=""
                                class="me-3">
                            <p> কোভিড-১৯ সংক্রান্ত সরাসরি ডাক্তারি পরামর্শ ও তথ্য সেবা </p>
                        </div>
                        <div class="content">
                            <ul class="mt-4">
                                <li><a target="_blank" href="http://beta.corona.gov.bd/bn/group/covid-19/doctor-advice"
                                        class="text-decoration-none text-dark">কোভিড-১৯
                                        স্বাস্থ্যসেবা </a></li>
                                <li><a target="_blank" href="http://beta.corona.gov.bd/bn/group/covid-19/doctor-advice"
                                        class="text-decoration-none text-dark">সাধারণ
                                        স্বাস্থ্যসেবা</a></li>
                                <li><a target="_blank" href="http://beta.corona.gov.bd/bn/group/covid-19/doctor-advice"
                                        class="text-decoration-none text-dark">মা ও শিশুর
                                        স্বাস্থ্যসেবা</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col bg-white rounded mx-4">
                    <div class="iteam_wrapper">
                        <div class="title">
                            <img src="https://corona.gov.bd/assets/new_home_assets/image/static/4.svg" alt=""
                                class="me-3">
                            <p> কোভিড-১৯ টীকা সংক্রান্ত তথ্য</p>
                        </div>
                        <div class="content">
                            <ul class="mt-4">
                                <li><a href="https://corona.gov.bd/corona_surokkha"
                                        class="text-decoration-none text-dark">
                                        নিবন্ধকরণ</a></li>
                                <li><a target="_blank"
                                        href="https://play.google.com/store/apps/details?id=com.codersbucket.surokkha_app"
                                        class="text-decoration-none text-dark">অ্যাপ
                                        ডাউনলোড</a></li>
                                <li>
                                    <a href="https://corona.gov.bd/corona_surokkha"
                                        class="text-decoration-none text-dark">
                                        ভ্যাক্সিন পরবর্তী শারীরিক জটিলতার
                                        বিষয়ে
                                        ডাক্তারি পরামর্শ</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col bg-white rounded mx-4">
                    <div class="iteam_wrapper">
                        <div class="title">
                            <img src="https://corona.gov.bd/assets/new_home_assets/image/static/5.svg" alt=""
                                class="me-3">
                            <p> জরুরি সহযোগীতায়</p>

                        </div>
                        <ul class="mt-4">
                            <li><a href="https://corona.gov.bd/oxygen-services-info" class="text-decoration-none">
                                </a><a href="https://corona.gov.bd/oxygen-services-info"
                                    class="text-decoration-none text-dark">
                                    অক্সিজেন সহায়তা</a>
                            </li>

                            <li>
                                <a href="https://corona.gov.bd/ambulance-services-info"
                                    class="text-decoration-none text-dark">
                                    অ্যাম্বুলেন্স </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <!-- banner section ends  -->


    <!-- categories section starts  -->

    <section class="categories" id="categories">

        <h1 class="heading"> <span>Service categories</span> </h1>

        <div class="box-container">

            <!-- <div class="box">
                <img src="image/cat-1.png" alt="">
                <h3>vegitables</h3>
                <p>upto 45% off</p>
                <a href="#" class="btn">shop now</a>
            </div> -->

            <div class="box">
                <img src="image/medicine.jfif" alt="">
                <h3>Medicine</h3>
                <p>upto 45% off</p>
                <a href="{% url 'medicine_product' %}" class="btn ">Get Medicine</a>
            </div>

            <div class="box">
                <img src="image/oxygen.jpg" alt="">
                <h3>Oxygen</h3>
                <p>upto 45% off</p>
                <a href="{% url 'oxygen_product' %}" class="btn">Get Oxygen</a>
            </div>

            <div class="box">
                <img src="image/hospital.jpg" alt="">
                <h3>Hospital</h3>
                <p>upto 45% off</p>
                <a href="{% url 'hospital_product' %}" class="btn">visit Hospital</a>
            </div>

        </div>

        <div class="box-container mt-5">

            <!-- <div class="box">
                <img src="image/cat-1.png" alt="">
                <h3>vegitables</h3>
                <p>upto 45% off</p>
                <a href="#" class="btn">shop now</a>
            </div> -->

            <div class="box">
                <img src="image/medicine.jfif" alt="">
                <h3>Ambulance</h3>
                <p>upto 45% off</p>
                <a href="{% url 'ambulance_product' %}" class="btn ">Get Ambulance</a>
            </div>

            <div class="box">
                <img src="image/oxygen.jpg" alt="">
                <h3>ICU</h3>
                <p>upto 45% off</p>
                <a href="{% url 'icu_product' %}" class="btn">Get ICU</a>
            </div>
        </div>

    </section>

    <!-- categories section ends -->

{% endblock content %}
